<app-navbar/>
<div class="card w-8 mx-auto">
  <p-dataView
    #dv
    [value]="products"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    [layout]="'grid'"
    [paginator]="true"
    [rows]="9"
    [rowsPerPageOptions]="[9, 25, 50, 100]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  >
    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between">
        <div class="flex gap-4">
          <p-dropdown
            [options]="sortOptions"
            [(ngModel)]="sortKey"
            placeholder="Sort By Price"
            (onChange)="onSortChange($event)"
            styleClass="mb-2 md:mb-0"
          />
          <p-dropdown
            [options]="categories"
            [(ngModel)]="selectedCategory"
            placeholder="Filter by Category"
            (onChange)="onCategoryChange()"
            [showClear]="true"
            styleClass="mb-2 md:mb-0"
          />
        </div>
        <p-dataViewLayoutOptions />
      </div>
    </ng-template>
    <ng-template pTemplate="list" let-products>
      <div class="grid grid-nogutter">
        <div class="col-12" *ngFor="let item of products; let first = first">
          <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
            <div class="md:w-10rem relative">
              <img class="block xl:block mx-auto border-round w-full" [src]="item.image" [alt]="item.name" />
            </div>
            <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
              <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                <div class="flex flex-column gap-2">
                  <span class="font-medium text-secondary text-sm">{{ item.category }}</span>
                  <div class="text-lg font-medium text-900 mt-2">{{ item.name }}</div>
                  <span>Stock Available: <p-tag [value]="item.stock" [severity]="getSeverity(item.stock)" /></span>
                </div>
              </div>
              <div class="flex flex-column md:align-items-end gap-5">
                <span class="text-xl font-semibold text-900">{{ item.price |currency:'CLP':'symbol-narrow':'1.0-0' }} CLP</span>
                <div class="flex flex-row-reverse md:flex-row gap-2">
                  <!--TODO: jajaja-->
                  @if(isAdmin$ | async) {
                  } @else {
                    <p-button
                      icon="pi pi-shopping-cart"
                      class="flex-auto md:flex-initial white-space-nowrap"
                      [label]="isProductBlocked(item.id) ? 'Already in cart' : 'Add to cart'"
                      [disabled]="item.stock === 0 || isProductBlocked(item.id)"
                      (onClick)="addProductToCart(item)"
                    >
                    </p-button>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="grid" let-products>
      <div class="grid grid-nogutter">
        <div class="col-12 sm:col-6 md:col-4 p-2" *ngFor="let product of products">
          <div class="p-4 border-1 surface-border surface-card border-round flex flex-column">
            <div class="surface-50 flex justify-content-center border-round p-3">
              <div class="relative mx-auto">
                <img class="border-round w-full same-size" [src]="product.image" [alt]="product.name" style="max-width: 300px;" />
              </div>
            </div>
            <div class="pt-4">
              <div class="flex flex-row justify-content-between align-items-start gap-2">
                <div>
                  <span class="font-medium text-secondary text-sm">{{ product.category }}</span>
                  <div class="text-lg font-medium text-900 mt-1">{{ product.name }}</div>
                  <span>Stock Available: <p-tag [value]="product.stock" [severity]="getSeverity(product.stock)" /></span>
                </div>
              </div>
              <div class="flex flex-column gap-4 mt-4">
                <span class="text-2xl font-semibold">{{ product.price |currency:'CLP':'symbol-narrow':'1.0-0' }} CLP</span>
                <div class="flex gap-2">
                  <!--TODO: jajaja-->
                  @if(isAdmin$ | async) {
                  } @else {
                    <p-button
                      icon="pi pi-shopping-cart"
                      class="flex-auto md:flex-initial white-space-nowrap"
                      [label]="isProductBlocked(product.id) ? 'Already in cart' : 'Add to cart'"
                      [disabled]="product.stock === 0 || isProductBlocked(product.id)"
                      (onClick)="addProductToCart(product)"
                    >
                    </p-button>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
<app-side-bar-cart *ngIf="!(isAdmin$ | async)"></app-side-bar-cart>
