<section class="flex justify-content-center lg:gap-8 align-items-center flex-wrap height-custom">
  <p-card class="p-4 w-20rem">
    <ng-template pTemplate="title">
      <div class="card-header flex justify-content-between">
        <span>Orders</span>
        <p-button icon="pi pi-list" severity="info" ></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="card-content">
        <p class="order-count">{{ orders.length }}</p>
      </div>
    </ng-template>
  </p-card>
  <p-card header="Orders" class="text-center">
    <p-chart  type="doughnut" [data]="chartData" [options]="chartOptions"></p-chart>
  </p-card>
</section>
